{% extends 'layout.html' %}
{% block title %}
    Log In
{% endblock %}


{% block body %}
    <div class="box-card-profile">
        <div class="main-card-profile">
            <div class="main-card-profile-body">
                <h1 class="page-titles">Log In</h1>
                <div style="margin: 0 auto; padding-left: 15%">
                    <form method="post">
                        <label for="username"></label>
                        <input type="text" name="username" id="username" required placeholder="Enter username"><br><br>
                        <label for="password"></label>
                        <input type="password" name="password" id="password" required placeholder="Password"><br><br>
                        <input class="sign-up-log-in-button" type="submit" value="LOG IN">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}